---
title: Dynamic Form Landing Page
---
.full-width-background
  %h2 A sentence describing and endorsing the subject of the page
  %p
    Cernantur an culpa, de summis appellat exquisitaque o in quid ab tamen, doctrina 
    quo laborum. A duis coniunctione. Quo qui efflorescere in amet hic probant ab 
    ullamco amet se ingeniis praesentibus ne et aut noster magna enim, hic anim 
    mandaremus tempor, iis incididunt id mandaremus et id se multos velit minim, 
    varias expetendis de aute eram. Quem consequat an varias noster si laborum illum 
    quis iis nulla. Ne summis o minim hic an elit eram hic iudicem, labore excepteur 
    quamquam se ab quem mandaremus. Aute nam fabulas do ipsum aut ubi esse 
    consequat. Ex enim legam quid commodo eu nescius e quibusdam se quid a probant 
    ad o appellat aut incurreret. Voluptate an illum quamquam.
  %br
  %h2 Session 1 – Thursday, March 26, 2015
  %h4 9:00 AM ET / 1:00 PM GMT (60 minutes)
  .speaker
    .speaker-profile{"style" => "background-image: url(http://fillmurray.com/201/101)"}
    .speaker-info
      %h3 Chen Chang
      %h4 Red Hat Training curriculum team
      %p
        Chen is a member of the Red Hat Training curriculum team. Prior to joining Red Hat, 
        he managed a UNIX operations team at Turner Broadcasting Systems—providing e-mail, 
        DNS, and DHCP.
  .speaker
    .speaker-profile{"style" => "background-image: url(http://fillmurray.com/204/104)"}
    .speaker-info
      %h3 Sameer Parulkar
      %h4 JBoss product marketing manager, Red Hat
      %p
        Sameer Parulkar brings over 17 years of experience working as a software engineer 
        and integration architect to his current role as a JBoss product marketing manager. 
        He focuses on educating and working with customers to gain the benefits from 
        application integration. He earned his Bachelor of Engineering at R.A.I.T, Bombay 
        University and an MBA from Babson College.
#GatedFormContainer.full-width-background