body {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1em;
  box-sizing: border-box;
}

.full-width-background {
  width: 100vw;
  height: auto;
  margin-left: calc((100vw - 100%) / -2);
  padding: 2em calc((100vw - 100%) / 2);
  box-sizing: border-box;
}

header {
  width: 100%;
  height: auto;
  position: relative;
  background: #4d4d4d;
  background-size: cover;
  background-position: 50% 55%;
  padding-top: 4em !important; padding-bottom: 4em !important;
  color: #fff;
  
  h1 {
    margin: 0;
  }
}