.speaker {
  width: 100%;
  height: calc(40vw + 4em);
  max-height: calc(140px + 4em);
  margin: 2em 0;
  background: darken(white, 5%);
  padding: 2em;
  border: 1px darken(white, 15%) solid;
  box-sizing: border-box;
  border-radius: 4px;
  
  .speaker-profile {
    display: inline-block;
    width: 20vw;
    height: 20vw;
    max-width: 140px;
    max-height: 140px;
    vertical-align: top;
    background-size: cover;
    background-position: center;
    border-radius: 2px;
  }
  
  .speaker-info {
    display: inline-block;
    width: calc(100% - 20vw - 5px - 1em);
    min-width: calc(100% - 145px - 1em);
    height: 100%;
    margin-left: 1em;
    overflow-y: scroll;
    
    h3 {
      margin-top: -.25em;
    }
    
    h4 {
      margin-bottom: .5em;
    }
    
    p:last-child {
      margin-bottom: 0;
    }
  }
}