html {
  font-family: "Overpass", sans-serif;
}

h2 {
  font-weight: 600;
}

h3 {
  text-transform: uppercase;
  margin: 0;
  line-height: 1.5em;
}

h4 {
  color: #999;
  font-weight: 300;
  margin: 0;
  line-height: 1.5em;
}

p {
  margin: 0;
  margin-bottom: 1em;
  line-height: 1.5em;
}

a {
  color: #08c0fc;
  text-decoration: none;
  border-bottom: 1px solid;
  
  transition: all .25s ease-in-out;
  
  &:hover {
    color: darken(#08c0fc, 10%);
  }
}